<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>


<div class="container py-4">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
      <a href="#" class="btn btn-secondary">Another action</a>
    </div>
  </div>

  <div class="mt-4">
    <button type="button" class="btn btn-primary">Primary</button>
    <button type="button" class="btn btn-secondary">Secondary</button>
    <button type="button" class="btn btn-success">Success</button>
    <button type="button" class="btn btn-danger">Danger</button>
    <button type="button" class="btn btn-warning">Warning</button>
    <button type="button" class="btn btn-info">Info</button>
    <button type="button" class="btn btn-light">Light</button>
    <button type="button" class="btn btn-dark">Dark</button>
    <button type="button" class="btn btn-link">Link</button>
  </div>

  <form {{on "submit" this.submit}} class="mt-4">
    <div class="form-group">
      <label for="primary">Primary</label>
      <Input  id="primary" class="form-control" type="text" @value={{this.theme.primary}} />
    </div>

    <div class="form-group">
      <label for="secondary">Secondary</label>
      <Input id="secondary" class="form-control" type="text" @value={{this.theme.secondary}} />
    </div>

    <div class="form-group">
      <label for="success">Success</label>
      <Input id="success" class="form-control" type="text" @value={{this.theme.success}} />
    </div>

    <div class="form-group">
      <label for="warning">Warning</label>
      <Input id="warning" class="form-control" type="text" @value={{this.theme.warning}} />
    </div>

    <div class="form-group">
      <label for="danger">Danger</label>
      <Input id="danger" class="form-control" type="text" @value={{this.theme.danger}} />
    </div>

    <div class="form-group">
      <label for="fontSize">Font Size</label>
      <Input id="fontSize" class="form-control" type="text" @value={{this.theme.baseFontSize}} />
    </div>

    <button type="submit" class="btn btn-primary">Update</button>
    <button {{on "click" this.reset}} class="btn btn-danger" >Reset</button>
  </form>
</div>